{% extends 'base.html' %}

{% load static %}
{% block title %}
<h1>{{ title }}</h1>
{% endblock %}
{% block content %}
<div class="utilities" style="margin-bottom: 15px;">
    <a href="/client/new">
        <div class="add-project">
            <img src="{% static 'img/new_project_white.svg' %}" style="width: 16px; height: 16px; position: absolute; top: 17px; left: 17px;" alt="">
        </div>
    </a>
    <span style="font-family: Montserrat; font-size: 20px; font-weight: 300; color: #7e7e7e; user-select: none; margin-right: 15px;">Dodaj nowego klienta</span>
</div>

{% for object in object_list  %}
<div class="project">
    <div style="flex: 2; text-align: left;"><a href="/client/{{ object.pk }}" style="font-weight: 600; line-height: 1.5em;">{{ object.client_name }}</a></div>
    <div style="flex: 1; text-align: center;"><p>{{ object.client_contact }}</p></div>
    <div style="flex: 1; text-align: right;"><p>{{ object.client_info }}</p></div>
    {% if request.user.is_staff %}
        <a href="/client/{{ object.pk }}/edit"><div class="edit_btn"></div></a>
        {% if request.user.is_superuser %}
            <a href="/client/delete/{{ object.pk }}"><div class="delete_btn"></div></a>
        {% endif %}
    {% endif %}  
</div>
{% endfor  %}

{% endblock %}
